<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176308648-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-176308648-1");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Barras de Proteínas" />
    <title>Protein Bar - Las mejores opciones en Barras de Proteínas</title>
    <link rel="stylesheet" href="./css/main.min.css" />
    <link rel="stylesheet" href="./css/normalize.min.css">
    <link href="img/favicon.png" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container header">
        <div class="logo-container">
          <img class="logo" src="img/logo-white.png" alt="proteinbar logo white" />
        </div>
        <nav class="navbar">
          <ul class="menu">
            <input type="checkbox" id="nav-toggle" class="nav-toggle" />
            <label class="label-hamburger" for="nav-toggle">
              <div class="menu-click-area"><span class="hamburger"></span></div>
            </label>
            <li class="menu-item">
              <a class="menu-link" rel="noopener" href="https://ballnutrition.com.ar/inicio#ofertasdelmes">Ofertas del Mes</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" rel="noopener" href="https://ballnutrition.com.ar/local">Nuestro Local</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" rel="noopener" href="https://ballnutrition.com.ar/costos-envio">Costos de Envío</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <img class="bg-img" src="img/wave_header.svg" alt="waves background" />
    <section>
      <div class="container">
        <div class="hero-section">
          <div class="hero-content">
            <h1>Las mejores opciones en Barras de Proteínas</h1>
            <h2>Conseguilas en Ball Nutrition</h2>
            <a rel="noopener" href="https://ballnutrition.com.ar/busqueda?q=&m=&c=barrasdeproteinas" class="hero-button">Ver Precios y Promociones</a>
          </div>
          <div class="hero-img">
            <img src="img/hero.png" alt="hero image" srcset="" />
          </div>
        </div>
      </div>
    </section>
    <section>
      <!--PRODUCTS-->
      <div id="app">
        <div class="container">
          <div v-for="p in productos" class="product-container">
            <div class="product-name">
              <h2>{{p.nombre}}</h2>
              <h3>{{p.presentacion}}</h3>
            </div>
            <div class="product-img">
              <img loading="lazy" :src="p.image" alt="product image" srcset="" />
            </div>
            <div class="product-description">
              <div class="product-info">
                <p>{{p.descripcion}}</p>
              </div>
              <div class="product-flavors">
                <div class="flavor-items" v-for="s in p.sabores">
                  <div :class="s.icon" class="flavor-icon"></div>
                  <div class="flavor-name">{{s.nombre}}</div>
                </div>
              </div>
              <div class="more-info-button">
                <a rel="noopener" :href="p.link">Más Información</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--FOOTER-->
    <footer>
      <div class="footer-container">
        <div class="logo-footer">
          <img class="bg-logo" src="img/logo.svg" alt="footer logo image" />
        </div>
        <div class="footer-text">
          <div class="footer-column">
            <div class="footer-title">Sobre Nosotros</div>
            <div class="footer-item">
              <a rel="noopener" href="https://ballnutrition.com.ar/local">Nuestro Local</a>
            </div>
            <div class="footer-item">
              <a rel="noopener" href="https://listado.mercadolibre.com.ar/_CustId_3740200">E-Shop Mercadolibre</a>
            </div>
          </div>
          <div class="footer-column">
            <div class="footer-title">Contactanos</div>
            <div class="footer-item">
              <a rel="noopener" href="https://api.whatsapp.com/send?phone=5491144141101">Tel: (011) 4414 1101</a>
            </div>
            <div class="footer-item">
              <p>
                <a href="mailto:ventas@ball-nutrition.com.ar">ventas@ballnutrition.com.ar</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-detail-right">
        <div class="social-icon-wrap">
          <a rel="noopener" href="https://www.instagram.com/ballnutrition/" target="_blank" class="social-link">
            <div class="icon icon-face"></div>
          </a>
          <a rel="noopener" href="https://www.instagram.com/ballnutrition/" target="_blank"  class="social-link">
            <div class="icon icon-ig"></div>
          </a>
        </div>
      </div>
      <div class="bg-footer-container">
        <img class="bg-footer" src="img/wave_footer.svg" alt="wave footer image" />
      </div>
    </footer>
    <a rel="noopener" href="https://api.whatsapp.com/send?phone=5491144141101" class="float" target="_blank">
      <i class="icon-float">
        <img src="img/wp-icon.png" alt="whatsapp icon" />
      </i>
    </a>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="main.min.js"></script>
</html>